<div class="title">
  <h1>Add New Album</h1>
</div>
<div class="events row">

  <div class="col-lg-4 col-10 eventInfoCard">
    <form name = "addNewEvent" class="addNewEvent" action="/addNewAlbum" method="post" enctype="multipart/form-data">
      <div class="card">
        <div class="card-body">

          <div class="card-body">

            <h4 class="name"><b>Name</b>:</h4>
            <input type="text" name="name" class="formTextInput" required>

            <h4 class="date"><b>Date:</b> </h4>
            <input type="text" name="date" class="formTextInput" required>

            <h4 class="date"><b>Drive Link:</b> </h4>
            <input type="text" name="driveLink" class="formTextInput"required >

            <h4 class="name"><b>Image:</b> </h4>
            <input type="file" name="coverImage" class="formTextInput"  accept="image/*" required>

            <h4 class="name"><b>Order:</b> </h4>
            <input type="text" name="order" class="formTextInput" required>


          <button type="submit" class="btn addNewEventButton">Add New Event</button>

        </div>
      </div>
    </form>
  </div>

</div>
