@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

html {
  max-width: 100%
}

body {
  font-family: 'Roboto Slab', serif;
  background-color: #F6E1FE;
  overflow-x: hidden;
}

h1, h2 {
  font-family: 'Libre Baskerville', serif;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.aboutUsTitle {
  margin-top: 20px
}

.coverImage {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.title {
  text-align: center;
}

.sub-title {
  text-align: center;
  margin: 20px 0;
}

.descriptionAlbums {
  text-align: justify;
  font-weight: 600;
  font-family: 'Roboto Slab', serif;
}

.youtubeVideo {
  width: 100%;
  min-height: 300px;
  object-fit: contain;
  margin: 20px 0px;
  border-radius: 2rem;
}

.subscribeButtonYoutube {
  width: 100px
}

.card-body {
  text-align: justify;
}

.icon{
  display: flex;
  margin: auto;
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-decoration: none;
  color: black;
  background-color: white;
  max-width: 60%;
  border-radius: 12px;
  transition: background-color 0.5s ease;
}

.fabIcon {
  display: flex;
  margin: auto;
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-decoration: none;
  color: black;
  background-color: white;
  max-width: 60%;
  border-radius: 12px;
  transition: background-color 0.5s ease;
  width: 500px;
  border: 0px
}
.fabIcon:hover {
  color: white;
  background-color:  #EE2730;
  transition: background-color 0.5s ease;
}

.fabIcon:hover i {
  color: white;
  background-color:  #EE2730;
  transition: background-color 0.5s ease;
}
.linkElement{
  margin-left: auto;
}
.error{
  color: #EE2730;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .youtubeVideo {
    width: 100%;
    min-height: 0px;
    object-fit: contain;
    margin: 20px 0px;
    border-radius: 2rem;
  }

  .eventRegistrationClosedText {
    font-size: 15px;
  }
}
